<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257e5">

    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/styles/main.css"> 
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/cadastro.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;600&family=Roboto:wght@400;700&family=Ubuntu:wght@700&display=swap"  
          rel="stylesheet">

    <title>Proffy | Carreiras</title>
</head>

<body id="cadastro">
    
        <header class="page-header">

            <div class="top-bar-container">
                <a href="/">
                    <img src="/assets/icons/back.svg" alt="Voltar">
                </a>
                <img src="/assets/logo.svg" alt="logo proffy">
            </div>

            <div class="header-content">
                <strong>Carreiras em T.I</strong>
                <p>Selecione uma das carreiras para conhecer melhor</p>

            </div>
        </header>

        <div class="container">

        <main id="career">

            <section class="section" id="board">
                <div class="container grid">

                  
                  <div class="cards grid">

                    {% for carreiras in carreiras %}
                    <div class="card" id="card-Beck">
                      <a href="/description-career">
                        <h3 class="title" value="{{loop.index0}}">{{carreiras}}</h3>
                       </a>
                    </div>
                    {% endfor %}


                  </div>

              
            </section>
        </main>
    </div>
</body>
</html>