<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/styles/main.css">
    <link rel="stylesheet" href="../../public/styles/create-curso.css">

    <title>create-curso</title>
</head>
<body>

    <form action="/savepoint" method="post">
        <h1>Cadrasto de curso</h1>
    
        <fieldset>
            <legend>
                <h2>Dados do curso</h2>
            </legend>
    
            <div class="field-group">
                <div class="field">
                    <label for="name">Nome do curso</label>
                    <input type="text" name="name" required>
                </div>
                <div class="field">
                    <label for="name">Link do curso</label>
                    <input type="url" name="link" placeholder="https://" required>
                </div>
            </div>
    
            <div class="field-group">
    
                <div class="field">
                    <label for="name">Descriçao do curso</label>
                    <textarea name="descricao" id="" rows="5" cols="10" rows="20" placeholder="Descrição do curso" required>
                    </textarea>
                </div>
            </div>

            <div class="field-group">
    
                <div class="field">
                    <label for="name">Modalidade do curso</label>
                    <input type="text" name="modalidade" required>
                </div>
                <div class="field">
                    <label for="name">Área de atuação</label>
                    <input type="text" name="area" required>
                </div>
            </div>
            
            <div class="field-group">
    
                <div class="field">
                    <label for="state">duração do curso</label>
                    <input type="time" name="name" required>
                      
                    </select>
    
                    <input type="hidden" name="state">
                </div>
    
                <div class="field">
                    <label for="city">Nível do curso</label>
                    <select name="city"  required>
                        <option value="">Básico</option>
                        <option value="">Intermediário</option>
                        <option value="">Avançado</option>
                    </select>
                </div>
            </div>

            <input type="hidden" name="items" value="">
    
        </fieldset>
    
    
        <button type="submit">Cadastrar curso</button>
    </form>
    
</body>
</html>