<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;600&family=Roboto:wght@400;700&family=Ubuntu:wght@700&display=swap">

  <link rel="stylesheet" href="/public/styles/main.css">
  <!--
  <link rel="stylesheet" href="/public/styles/home.css">
  -->
  <link rel="stylesheet" href="/public/styles/page-landing.css">

  <title>Projeto Estágio</title>
</head>
<body id="page-landing">
<!--
  <header id="header">
    <nav class="container">
      <a href="#">
        <img src="/public/assets/logo.png" alt="Logo de programação">
      </a>
    
      <div class="menu">
        <ul class="grid">
          <li><a class="title" href="#">Cursos</a></li>
          <li><a class="title" href="#">Carreiras</a></li>
          <li><a class="title" href="#">Dar aulas</a></li>
          <li><a class="title" href="/src/views/create-curso.html">Cadastre um curso</a></li>
        </ul>
      </div>

      <div class="toggle icon-menu"></div>
      <div class="toggle icon-close"></div>

    </nav>
  </header>
-->
  
   

   <main >
    <div id="container">

      <div class="logo-container">
        <img src="/public/assets/logo.svg" alt="logo proffy">
        <h2>Sua plataforma de estudo online</h2>
      </div>

      <img class="hero-image" src="/public/assets/landing.svg" alt="plataforma de estudos">

      <div class="buttons-container">
        <a class="study" href="/cards-curso.html">
          <img src="/public/assets/icons/study.svg" alt="Estudar">
          Estudar
        </a>

        <a class="carreira" href="/carreira.html">
          <img src="/public/assets/icons/rocket.svg" alt="Dar aulas">
          Carreiras
        </a>

        <a class="give-classes" href="/create-curso.html">
          <img src="/public/assets/icons/give-classes.svg" alt="Dar aulas">
          Cadastrar curso
        </a>

      </div>

      <p class="total-conections">
        Total de 200 conexões realizadas 
        <img src="/public/assets/icons/purple-heart.svg" alt="Coração roxo">
      </p>

    </div>
   </main>

   <footer>

   </footer>

  </div>

</body>

<script src="../../public/scripts/main.js"></script>
</html>