<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../public/styles/main.css">
  <link rel="stylesheet" href="../../public/styles/home.css">

  <title>Projeto Estágio</title>
</head>
<body>

  <header id="header">
    <nav class="container">
      <a href="#">
        <img src="/public/assets/logo.png" alt="Logo de programação">
      </a>
    
      <div class="menu">
        <ul class="grid">
          <li><a class="title" href="#">Cursos</a></li>
          <li><a class="title" href="#">Carreiras</a></li>
          <li><a class="title" href="#">Dar aulas</a></li>
          <li><a class="title" href="/src/views/create-curso.html">Cadastre um curso</a></li>
        </ul>
      </div>

      <div class="toggle icon-menu"></div>
      <div class="toggle icon-close"></div>

    </nav>
  </header>

  
   

   <main>
    <div class="content">

   </main>

   <footer>

   </footer>

  </div>

</body>

<script src="../../public/scripts/main.js"></script>
</html>