<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;600&family=Roboto:wght@400;700&family=Ubuntu:wght@700&display=swap">

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/partials/page-landing.css">

  <title>Proffy | Sua plataforma de estudos online</title>
</head>
<body id="page-landing">
 
 
  <main >
    <div id="container">

      <div class="logo-container">
        <img src="/assets/logo.svg" alt="logo proffy">
        <h2>Sua plataforma de estudo online</h2>
      </div>

      <img class="hero-image" src="/assets/landing.svg" alt="plataforma de estudos">

      <div class="buttons-container">
        <a class="study" href="/study">
          <img src="/assets/icons/study.svg" alt="Estudar">
          Estudar
        </a>

        <a class="carreira" href="/career">
          <img src="/assets/icons/rocket.svg" alt="Dar aulas">
          Carreiras
        </a>

        <a class="give-classes" href="/cadastro">
          <img src="/assets/icons/give-classes.svg" alt="Dar aulas">
          Cadastrar 
        </a>

      </div>

      <p class="total-conections">
        Total de 200 conexões realizadas 
        <img src="/assets/icons/purple-heart.svg" alt="Coração roxo">
      </p>

    </div>
   </main>

   <footer>

   </footer>

  </div>

</body>

<script src="../../public/scripts/main.js"></script>
</html>