<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257e5">

    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/styles/main.css"> 
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/partials/create-curso.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;600&family=Roboto:wght@400;700&family=Ubuntu:wght@700&display=swap"  
          rel="stylesheet">

    <title>Proffy | Cadastro de curso</title>
</head>
<body id="page-give-classes">

    <div id="container">
        <header class="page-header">

            <div class="top-bar-container">
                <a href="/cadastro">
                    <img src="/assets/icons/back.svg" alt="Voltar">
                </a>
                <img src="/assets/logo.svg" alt="logo proffy">
            </div>

            <div class="header-content">
                <strong>Cadastro de Cursos</strong>
                <p>Preencha os campos com a descrição dos cursos</p>

            </div>
        </header>

        <main>

            <form action="" id="create-class" method="post">
                <fieldset>

                    <legend>Dados do curso</legend>

                    <div class="input-block">
                        <label for="name">Titulo/Nome do curso</label>
                        <input type="text" name="name" id="name" required>
                    </div>

                    <div class="input-block">
                        <label for="avatar">Link do curso<small>(comece com https://)</small></label>
                        <input type="url" name="avatar" id="avatar" required>
                    </div>

                    <div class="textarea-block">
                        <label for="bio">Descriçao do curso</label>
                        <textarea name="bio" id="bio" required></textarea>
                    </div>

                </fieldset>

                <fieldset id="schedule-items">
                    <legend>Nível e carga horaria
                    </legend>

                    <div class="schedule-item">
                        <div class="select-block">
                            <label for="weekday">Nível do curso</label>
                            <select name="weekday[]" required>
                                <option value="" disabled="" hidden="">Selecione uma opção</option>
                                <option value="0">Básico</option>
                                <option value="1">Intermediário</option>
                                <option value="2">Avançado</option>
                            </select>
                        </div>

                        <div class="input-block">
                            <label for="time-from">Duração do curso</label>
                            <input type="time" neme="time-from[]" required>
                        </div>

                        <div class="select-block">
                            <label for="categoria">Área do curso</label>
                            <select name="categoria[]" required>
                                <option value="" disabled="" hidden="">Selecione uma opção</option>
                                {%for categoria in categorias %}
                                <option value="{{loop.index0}}">
                                {{categoria}}
                                </option>
                                {%endfor%}
                            </select>
                        </div>

                    </div>
                </fieldset>
            </form>

            <footer>
                <p>
                    <img src="/assets/icons/warning.svg" alt="aviso importante">
                    Importante!<br>
                    Preencha todos os dados
                </p>
                <button type="submit" form="create-class">Salvar cadastro</button>
            </footer>

        </main>
    </div>

</body>
</html>