form {
    background-color: white;

    margin: 5rem auto;
    padding: 4rem;

    border-radius: 8px;

    max-width: 850px;
}

form h1 {
    font-size: 2.25rem;
}

form fieldset {
    margin-top: 4rem;

    border: 0;
}

form legend {
    margin-bottom: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%; 
}

form legend h2 {
    font-size: 1.5rem;
}

form .field-group {
    display: flex;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin-bottom: 1.5rem;
}

form input,
form textarea,
form select {
    background-color: #f0f0f5;

    border: 0;
    padding: 1rem 1.5rem;
    font-size: 1rem;

    border-radius: .5rem;
}

form textarea {
    width: auto;
    height: auto;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: .875rem;
    margin-bottom: .5rem;
}

form .field-group .field + .field {
    margin-left: 1.3rem;
}

form button {
    width: 260px;
    height: 56px;

    background-color: var(--primary-color);
    border-radius: .5rem;

    color: aliceblue;
    font-weight: bold;
    font-size: 1rem;

    border: .5px solid #210344;

    margin-top: 2.5rem;

    transition: background-color 400ms;
}

form button:hover {
    background-color: #5f3194
}


